*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    display: flex;
}

.container-background{
    justify-content: space-between;
    background: rgb(255,210,77);
    background: linear-gradient(90deg, rgba(255,210,77,1) 31%, rgba(255,176,32,1) 67%, rgba(252,252,252,1) 67%); 
}

.row-background{
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
}

.row-background:nth-child(1){
    width: 50vw;
    justify-content: flex-end;
}

.img-reloj{
    width: 500px;
    animation: zoom-in-zoom-out 2s ease-in-out;
    -moz-animation: zoom-in-zoom-out 2s ease-in-out;
    -webkit-animation: zoom-in-zoom-out 2s ease-in-out;

}

.container-login{
    -webkit-box-shadow: 1px 1px 3px 2px gray; 
    box-shadow: 1px 1px 3px 2px gray;
    border-radius: 5px;
    background: white;
    flex-direction: column;
    padding: 20px;
}

.container-login h3, .sm-title-login{
    color: #051226;
    padding: 20px;
    justify-content: center;
}

.container-login .input-group{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.container-login .input-group input{
    width: 100%;
}

.container-login .input-group input::placeholder{
    font-size: 14px !important;
}

.container-login button{
    background: rgb(255,210,77);
    background: linear-gradient(90deg, rgba(255,210,77,1) 31%, rgba(255,176,32,1) 66%); 
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    color: #051226;
    font-weight: 700;
}

.container-login a,  .sm-title-registration a{ 
    background: #ffb020; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffb020, #ffd24d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffb020, #ffd24d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    justify-content: center;
    margin-top: 20px;
}

.container-login div, .sm-title-registration{
    color: #051226;
    margin-top: 50px;
}

.container-login div.input-group{
    margin-top: 0px;
}

.container-login div a, .sm-title-registration a{
    margin-top: 0px;
    margin-left: 5px;
}

.sm-title-login, .sm-title-registration{
    display: none;
}

@media (max-width: 1024px){
    .img-reloj{
        width: 300px;
    }

    .container-login h3{
        font-size: 18px;
    }

    .container-login .material-icons{
        font-size: 18px !important;
    }

    .container-login .input-group input::placeholder{
        font-size: 12px !important;
    }

    .container-login a, .container-login div{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .container-background{
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: rgb(255,210,77);
        background: linear-gradient(180deg, rgba(255,210,77,1) 31%, rgba(255,176,32,1) 66%, rgba(255,255,255,1) 66%); 
    }
    .row-background{
        width: 100vw !important;
        justify-content: center !important;
        height: fit-content !important
    }

    .img-reloj{
        width: 350px;
        margin-bottom: 30px;
    }

    .container-login h3{
        display: none;
    }

    .container-login div{
        display: none;
    }

    .sm-title-login{
        font-size: 18px;
    }

    .sm-title-login, .sm-title-registration, .container-login .input-group{
        display: flex;
    }
}

    @-moz-keyframes zoom-in-zoom-out {
        0% { 
            -moz-transform: scale(1, 1);
        }
        50% { 
            -moz-transform: scale(1.2, 1.2); 
        }
        100% {
            -moz-transform: scale(1, 1), rotate(45deg);
        }
    }
    @-webkit-keyframes zoom-in-zoom-out {
        0% { 
            -webkit-transform: scale(1, 1);
        }
        50% { 
            -webkit-transform: scale(1.2, 1.2); 
        }
        100% {
            -webkit-transform: scale(1, 1), rotate(45deg);
        }
    }

    @keyframes zoom-in-zoom-out {
        0% { 
            transform: scale(1, 1);
        }
        50% { 
            transform: scale(1.2, 1.2); 
        }
        100% {
            transform: scale(1, 1), rotate(45deg);
        }
    }